version: '3.8'

services:
  postgres:
    container_name: ms_pg_sql
    image: postgres:latest
    environment:
      POSTGRES_USER: sdet
      POSTGRES_PASSWORD: sdet
      POSTGRES_DB: sdet_db
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - sdet-network
    restart: unless-stopped

  pgadmin:
    container_name: ms_pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "5050:80"
    networks:
      - sdet-network
    depends_on:
      - postgres
    restart: unless-stopped

  app:
    container_name: sdet-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/sdet_db
      SPRING_DATASOURCE_USERNAME: sdet
      SPRING_DATASOURCE_PASSWORD: sdet
    networks:
      - sdet-network
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  postgres:
  pgadmin:

networks:
  sdet-network:
    driver: bridge
